@import "variables.scss";

/*  ============= WEB BROWSER RESETS ============ */
* {
    margin: 0;
    padding: 0;
    border: none
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    height: 100%;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 20px
}

body {
    max-width: 1600px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    text-rendering: optimizeSpeed
}

img {
    width: 100%;
    height: auto;
    display: block
}

h1,
h2,
h3,
h4 {
    width: 100%
}

input,
button,
textarea,
select {
    font: inherit
}

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) {
    body {
        // padding: 4% 20%
    }
}

/* Mobiles */
@media (max-width: 767px) {
    body {
        padding: 12% 8%
    }
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #334756;
}

h1 {
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}

header {
    width: 100%;
    height: 45vh;
    padding: 4% 20%;
    margin-bottom: 30px;
    background-color: $colorDark;

    h1,
    h2 {
        color: $colorTxt;
    }
}

#mainSection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    #cvPresId,
    #projectsId {
        width: 40%;

        #cvPresIdForm {}

        #projectsIdForm {}

        button {
            height: 40vh;
            width: 100%;
            background-color: $colorBalise;
            // margin: 0 10px;
            padding: 10px;
            border-radius: 10px;

            box-shadow: #000 3px 4px 0px 0px;
            background: linear-gradient($colorBalise 5%, $colorBg 100%) $colorBalise;
            border-radius: 15px;
            border: 1 px solid rgb(214, 188, 214);
            display: inline-block;
            cursor: pointer;
            font-family: Arial;
            font-size: 17px;
            padding: 7 px 25 px;
            text-decoration: none;
            text-shadow: rgb(225 226 237) 0px 1px 0px;

            h3 {
                margin: 0;
                color: $colorTxt;
            }
        }
        button:hover{
            background: linear-gradient($colorBg 5%, $colorBalise 100%) $colorBg;

        }

    }
}